section>div>img{
    scale: 0.8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range:entry;

}
@keyframes fade-in {
    to{ scale: 1; opacity: 1}

}