@media (min-width: 640px) { body {font-size:1rem;} }
@media (min-width:1100px) { body {font-size:1rem;} }
fieldset>div>label{
    font-size: medium;
}
@media screen and (max-width:768px){
    .properties__container__main{
        padding: 2px;
        margin-top: 10px;
        font-size: 1rem;
    }
    .filter__container{
        display: none;
    }
    .properties__container{
        width: 100%;
        padding: 5px;
    }
    .card__holder{
        width: 100%;
        display: flex;
        gap:8px;
    }
    .search__container{
        width: 100%;
        margin-left: 4px;
        gap: 2px;
        padding: 2px;
    }
    .search__location__input{
        width: 90%;
    }
}

