.new__property__listings>*{
    width: 100%;
}
@media  screen and (max-width: 768px) {
    main{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        padding: 3px;
        margin: 0;
        scroll-behavior: smooth;
    }

    .home{
        padding: 2px;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 100%;
    }
    .home>div{
        margin-left: 4px;
    }
    .home>div>.heading{
        font-weight: 600;
        font-size: 30px;
        line-break: strict;
        line-height: 1.4;
        width: 100%;
    }
    .home>div>p{
        font-weight: normal;
        font-size: 20px;
    }
    .home>div>img{
        margin-bottom: 5px;
        height: 300px;
    }
    #property{
        content: normal;
        display: flex;
        flex-direction: column;
        align-content: normal;
        align-items: normal;
    }
    #property>.heading__container{
        width: 100%;
        padding: 5px;
    }
    #property>.heading__container>h1{
        font-size: 30px;
        font-weight: bold;
    }
    #property>.heading__container>button{
        margin-top: 5px;
    }
    #property>div>img{
        border-radius: 10px;
        margin:0;
        width: 100%;
        padding: 0;
        height: 500px;
    }


}