header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 25px 20px;
    align-items: center;

}
header>.desktop__nav>nav>ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;

}
nav>ul>li{
    font-weight: bold;
}
.logo{
    font-size: 26px;
    font-weight: bolder;
}
.header>.desktop__nav>nav>ul>*{
    cursor: pointer;
    font-size: 19px;

}
.profile__info{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 2px;
}
.profile__info__container{
    margin-right: 5px;
}
.mobile__menu,.mobile__navigation{
    display: none;
}

@media screen and (max-width: 768px){
    .desktop__nav{
        display: none;
    }
    .mobile__menu,.mobile__navigation{
        display: flex;
    }
    .mobile__navigation{
        position: absolute;
        z-index: 999;
        background-color: white;
        padding: 20px;
        width: 60%;
        height: 100%;

    }
    .mobile__navigation>ul>li{
        cursor: pointer;
    }
    .mobile__navigation>ul{
        display: flex;
        flex-direction: column;
        gap: 40px;

    }


}


