header{
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
    align-items: center;

}
header>nav>ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;

}
nav>ul>li{
    font-weight: bold;
}
.logo{
    font-size: 26px;
    font-weight: bolder;
}
.header>nav>ul>*{
    cursor: pointer;
    font-size: 19px;

}
.profile__info{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 2px;
}
.profile__info__container{
    margin-right: 5px;
}
.mobile__menu{
    display: none;
}
@media screen and (max-width: 768px){
    .mobile__navigation {
        transition: transform 0.3s ease-in-out;
        transform: translateY(0); /* Default position */
    }

    .mobile__navigation.hidden {
        transform: translateY(-100%); /* Move out of view */
    }
    .desktop__nav{
        display: none;
    }
    .mobile__menu{
        display: unset;
    }
    header{
        justify-content: space-between;
    }
    .profile__info__container{
        margin: 2px;
    }
    .profile__info__container>*{
        font-size: small;
        padding: 5px;
        display: flex;
        align-items: flex-start;
    }
    .logo{
        font-weight: bold;
    }

}


