header{
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
    align-items: center;
    /*margin-top: 10px;*/

}
header>nav>ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;

}
nav>ul>li{
    font-weight: bold;
}
.logo{
    font-size: 26px;
    font-weight: bolder;
}
.header>nav>ul>*{
    cursor: pointer;
    font-size: 19px;

}
.profile__info{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 2px;
}
.profile__info__container{
    margin-right: 5px;
}

