header{
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
    align-items: center;

}
header>.desktop__nav>nav>ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;

}
nav>ul>li{
    font-weight: bold;
}
.logo{
    font-size: 26px;
    font-weight: bolder;
}
.header>.desktop__nav>nav>ul>*{
    cursor: pointer;
    font-size: 19px;

}
.profile__info{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 2px;
}
.profile__info__container{
    margin-right: 5px;
}
.mobile__menu{
    display: none;
}
.mobile__navigation{
   display: none;
}
@media screen and (max-width: 768px){
    .mobile__navigation{
        display: unset;
        transition: all ease-out;
    }
    .mobile__navigation>nav>ul{
        position: fixed;
        z-index: 999;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 130%;
        height: 100%;
        padding: 10px;

    }
    .mobile__navigation>nav>ul>li{
        cursor: pointer;
    }

    .desktop__nav{
        display: none;
    }
    .mobile__menu{
        display: unset;
    }
    header{
        justify-content: space-between;
    }
    .profile__info__container{
        margin: 2px;
    }
    .profile__info__container>*{
        font-size: small;
        padding: 5px;
        display: flex;
        align-items: flex-start;
    }
    .logo{
        font-weight: bold;
    }

}


